body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
} 

.wrap{
  max-width:1100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:70px;
}

h1{
  color:#00489F;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -6px;
  font-size:60px;
}

.demo{
  width:100%;
  padding:20px;
  margin:10px 0 30px 0;
  box-sizing: border-box;
}

.zoom{
  display:inline-block;
  margin-left:10px;
}
.zoom i{  
  color:#777;
}
.zoom input{
  margin:5px 5px 0 5px;
}

.gridItem{
  background-size: 100%;
  box-shadow: 0 0 1.25em 0 rgba(0,0,0,.2);
  background-color:#fff;
  cursor: move;
}

.gridItem .name{
  display:block;
  bottom:-22px;
  width:100%;
  font-size:12px;
  position:absolute;
  color:#555;
  text-transform: capitalize;
}
